.news-article {
  background-color: white;
  margin: 10px;

  &__image {
    background-color: transparent;
  }
}

.news-footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: darkslategrey;
}

.bookmark-icon {
  font-size: 26px;
  margin-right: -8px;
}