@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

h6 {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: 25px 0 0px 18px;
  font-size: 17px;
  letter-spacing: 1.2px;
}

hr {
  margin-left: 18px;  
}