.banner {
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: flex-end;
  text-align:justify;
  height: 150px;
}
.banner__topic-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  margin-left: 0;
  text-align: left;
  font-weight: bold;
}

.follow-btn {
  padding: 2;
  margin-right: 11px;
  border-radius: 20px;
  width: 75px;
  align-items: center;
  font-size: 16px;
}

.banner__topic-subtitle {
  color:lightslategray;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 35px;
}

.banner__topic-description {
  text-align: left;
  font-size: 14px;
}